<div class="about-page">
  <h1>About WeatherApp</h1>
  <p>
    WeatherApp gives you quick, accurate weather updates with no clutter. We
    built it to be fast, clean, and helpful—without all the extras you don’t
    need.
  </p>

  <p>
    It uses data from
    <a
      href="https://www.weatherapi.com/"
      class="link"
      target="_blank"
      rel="noopener"
      >WeatherAPI</a
    >
    and was built with Angular as a team project to learn and showcase what we
    can do.
  </p>

  <p>Simple tools. Smart design. Real time weather.</p>
</div>
